<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Kavita Dalmia!
  </h1>
  
</div>
<nav  role="custom-dropdown" class="navbar navbar-inverse navigation navbar-fixed-top">
  <input type="checkbox" id="button">
    <label for="button" onclick></label>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-right" href="#1">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#2">Skills</a></li>
      <li><a href="#3">Experience</a></li>
      <li><a href="#4">About</a></li>
      <li><a href="#5">Connect</a></li>
    </ul>
  </div>
</nav>


<div class="page-section" id="1">
      <h1>Home</h1>
I AM LOOKING FORWARD TO A CHALLENGING JOB THAT WILL UPDATE MY KNOWLEDGE AND ALSO MAKE ME A BETTER RESOURCE TO THE COMPANY.
STREGTHS:

e• Result-oriented Software Engineer with 3.6 years of experience in software development.
• Specialized in Java Development using frameworks like Struts, Spring MVC
• SDLC experience including requirement analysis, design, coding, application implementation, testing and managing technical documents.
• Excellent written and verbal communication, interpersonal skills, team player with good analytical skills, judgment skills and proven ability in meeting deadlines
• Have significant hands-on in code optimization and performance optimization
</div>


<div class="page-section" id="2">
      <h1>Skills</h1>
Core Java, J2EE, Struts, Spring, Hibernate
HTML, CSS, JavaScript, JSP, Flex, Servlets
IBM db2, MySQL, HQL, PL/SQL
XML,Tiles, Logging, SDLC, Agile Development
MVC, Design Patterns, Angular JS, Web Services

</div>


  <div class="page-section" id="3">
      <h1>Experience</h1>
NEXT EDUCATION INDIA, SOFTWARE DEVELOPER
January 2017 - November 2017

• Implemented the Fee module for the NextERP project to handle fees for all students along with fines and concessions for various school organizations
• Worked on Communication module of the e-learning program where the user gets notified via sms, email or through notifications about the specified events
• Worked on the timetable module where the schedules of the teachers, classes or students is generated and manipulated along with the desired constraints
• Worked on the Leave module to monitor leaves of the students and teachers including the carry forward leaves
• Created multiple critical reports related to fees for the school administration purposes
• Achieved data consistency in 10+ fee related reports in 2 days for all the scenarios.
• Designed and developed specific Fee receipts for various schools
• Worked with QA team to ensure bug free features while ensuring data correctness
• Created a document tracking the old bug fixes and feature implementation and their analysis and how they were implemented in the system for new team members
Technologies Used:
Core Java, J2EE, MySQL, Spring, Hibernate, HTML, CSS, JSP, Linux, Eclipse, JavaScript, Tiles

–
AMDOCS, SOFTWARE ENGINEER
June 2016 - 

• Designed and Worked on the Loyalty Point System for Vodafone Romania project to manage loyalty points of the customer
• Worked on Pricing tool of the Vodafone Romania project to manage the pricing and the bill generation cycle of the customers
• Created a document to guide through any future requirements in the module and its flow
• Worked on the GUI where the customer related information like Loyalty Points, Billing cycle and transfer points are displayed
• Handled the creation of new entities like customers and consumption of Loyalty points
Technologies Used:
Core Java, J2EE, HTML, CSS, JSP, Oracle sql, sql Developer, Unix

–
TATA CONSULTANCY SERVICES, SYSTEM ENGINEER
February 2014 - June 2016

• Worked on Passport Seva Project for Ministry of External Affairs, India, implementing SDLC best practices as per the needs
• Completely owned development and enhancements of highly user relevant module named Customer Service Executive and its User Interface
• Achieved reducing application processing time significantly by reducing the necessary button clicks that required end to end process flow
• Worked on storing and processing of multi-terabyte data of the thousands of applicants using RDBMS
• Development and maintenance of acknowledgment slips on NRI centric MADAD system.
• Major contribution in Integration of Passport Seva System with Aadhaar System and the related maintenance activities
• Complete owner of the functionality where various devices like Scanner, Camera, Fingerprint capturing device interacted with the system
• Mentored for the CSE module to share the knowledge of Flex designing and the entire module flow to new team members
• Designed and developed the entire module during flex form to jsp form implementation
• Maintenance and enhancements of a critical CSE Performance report that Customer Service Manager uses in Passport Seva Kendra
• Created a knowledge transition document for new team members that contained the complete flow of the module and the changes at every button click
• Coordinated with the PM to ensure requirements are fully understood
• Worked with QA team to ensure the item delivered works fine and appeals to the user
• Worked with ITA team to ensure the quality of the code and the item to be delivered
• Have been awarded ‘On the Spot’ and Appreciation awards for my work
Technologies Used:
Core Java, J2EE, Struts 2.0 MVC, HTML, CSS, JSP, Linux, Eclipse, JavaScript, Tiles , XML, Logging, Putty, IBM db2, TCS Instant Apps internal tool, Apache Tomcat, Servlets
</div>


  <div  class="page-section" id="4">
      <h1>About</h1>
EDUCATION
JECRC, RAJASTHAN TECHNICAL UNIVERSITY, JAIPUR, INDIA
B.Tech. COMPUTER SCIENCE AND ENGINEERING
Graduated May 2013

 

NATIONAL PUBLIC SCHOOL, RAJASTHAN, INDIA
SENIOR SECONDARY
Graduated MARCH 2009

AWARDS
ON THE SPOT AWARDS
APPRECIATION AWARD
MEDALS FOR SPORTS
SCIENCE OLYMPIAD
MICROSOFT BUSINESS AWARD
</div>


  <div  class="page-section" id="5">
      <h1>Connect </h1>
        <!-- add linked in-->
</div>

<div>
  <img width="300" alt="Oops! something went wrong" src="img/profile.jpg">
  </div>


